/* NAVBAR */

body
{
	margin: 0;
	padding: 0;
}

.first_section img
{
	width: 100%;
	margin-top: 50px;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #262626;
	width: 100%;
	box-sizing: border-box; 
	font-family: 'Lato';

}

header .logo
{
	color: #fff;
	height: 50px;
	line-height: 50px;
	float: left;
	font-weight: 400;
}

header nav
{
	float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li 
{
	list-style: none;
}

header nav ul li a 
{
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	color: #fff;
	text-decoration: none; 
	text-transform: uppercase;
	font-weight: 300;
	display: block;
}

header nav ul li a:hover
{
	color: #fff;
	background: #9B114C;
}

.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1024px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #333;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		left: 0;
	}
	header nav ul
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}




.container
{
	width: 70%;
	margin: 0 auto;
}

/*header
{
	color: #fff;
}

header nav
{
	height: 60px;
	background-color: black;
}

header nav h3
{
	float: left;
}

header nav ul 
{
	float: right;
	margin-top: 25px;
}

header nav ul li
{
	display: inline-block;
}

header nav ul li a
{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	padding-right: 5px;
}*/

header .head-cont h1
{
	float: left;
}

header .head-cont p
{
	float: right;
}


/* Content - Part1 */
.cont1
{
	height: 500px;
	background-color: #888;
}

.cont1 .part1
{
	width: 70%;
	float: left;
}

.cont1 .part2
{
	background-color: #fff;
	width: 30%;
	float: right;
}

.nelt_majtas, .poshte_majtas
{
	float: left;
	width: 50%;
}

.nelt_djathtas, .poshte_djathtas
{
	width: 50%;
	float: right;
}


.cont2
{
	height: 200px;
	background-color:#555;
}


/* Content - Part2 */
.cont2 .parts
{
	display: inline-block;
	width: 30%;
	margin-right: 30px;
}


/* Footer*/
footer
{
	height: 50px;
	background-color: #1F1E1A;
}













/* ABOUT US page*/

.second_section hr
{
	width: 40px;
}

.second_section .introduction_part1 p, .introduction_part2 p
{
	font-family: 'Lato', sans-serif;
	text-align: justify;
}


.intro_img img 
{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
	max-width: 100%;
  	height: auto;
  	margin-top: 30px;
}




.second_section .entry_text
{
	text-align: center;
}

.second_section .entry_text h1
{
	font-size: 50px;
}


/* min to 900px*/
.second_section .entry_text p
{
	padding: 0 70px;
	font-size: 30px;
	font-style: italic;
	color: #9B114C;
}

.second_section .introduction_part1
{
	margin: 20px 0 40px;
}

.second_section .introduction_part1 .intro_img
{
	clear: both;
}

.second_section .introduction_part1 .intro_text
{
	margin: 0 5%;
}

.second_section .introduction_part1 .intro_text .text_one
{
	width: 40%;
	padding: 0 40px;
	float: left;
}

.second_section .introduction_part1 .intro_text .text_two
{
	width: 40%;
	padding: 0 40px;
	float: right;
}

.second_section .introduction_part2 .technology
{
	width: 30%;
	display: inline-block;
	text-align: center;

}

.second_section .introduction_part2 .storytelling,
.second_section .introduction_part2 .design-craft
{
	width: 30%;
	display: inline-block;
	margin-right: 25px;
	text-align: center;
}

.second_section .introduction_part2
{
	margin-bottom: 40px;
}






/* Contact Us */

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

*
{
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
	background-color: #e6e6e6;
	justify-content: center;
	align-items: center;
}

.container-contact
{
	width: 75%;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 62px 55px 90px 55px;
	margin: 70px auto;
}

.container-contact .contactt-form .contactt-form-title
{
	display: block;
    width: 100%;
    font-family: Montserrat;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 59px;
    font-weight: 900;
}

.validate-input
{
	position: relative;
}

.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}

input {
	outline: none;
	border: none;
}

input.input100 
{
    height: 40px;
}

textarea.input100 {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
  float: left;
}

.rs1-wrap-input100:nth-child(4) {
	margin-left: 30px;
}

.clear { clear: both; }

.label-input100 {
  font-family: Montserrat;
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #00ad5f;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 40px;
  background-color: #f7f7f7;
  top: 35px;
  left: 0px;
  padding: 0 45px 0 22px;
  pointer-events: none;

  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #fa4251;
  line-height: 1.2;
}

.btn-hide-validate {
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 12px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 10px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .alert-validate::before {
    padding: 0 10px 0 10px;
  }

  .true-validate::after,
  .btn-hide-validate {
    right: 0px;
    width: 30px;
  }
}











/* Responsiveness */


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 62px 15px 90px 15px;
  }

  .wrap-input100 {
    padding: 10px 10px 9px 10px;
  }
}




/*nav*/

@media (max-width: 991px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #333;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		left: 0;
	}
	header nav ul
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}


/*about*/

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .intro_img img {
    width: 100%;
  }
  .second_section .introduction_part1 .intro_text .text_one
  {
  	width: 100%;
  	display: inline-block;
  	float: left;
  	padding: 0;
  	margin-bottom: 20px;
  }
  .second_section .introduction_part1 .intro_text .text_two
  {
  	width: 100%;
  	display: inline-block;
  	float: right;
  	padding: 0;
  }
  .second_section .introduction_part1 .intro_text p
  {
  	margin: 0;
  }

  .second_section .introduction_part2 .storytelling,
  .second_section .introduction_part2 .design-craft,
  .second_section .introduction_part2 .technology
  {
  	width: 95%;
  	margin-right: 10px;
  	margin-bottom: 20px;
  }
}



@media only screen and (min-width: 900px) and (max-width: 1024px) {
	.second_section .entry_text p {
		font-size: 36px;
		color: #9B114C;
		padding: 0 150px;
  }
  .second_section .introduction_part1 .intro_text .text_one
  {
  	width: 45%;
  	display: inline-block;
  	float: left;
  	padding: 0;
  }
  .second_section .introduction_part1 .intro_text .text_two
  {
  	width: 45%;
  	display: inline-block;
  	float: right;
  	padding: 0;
  }

  .second_section .introduction_part2 .technology
  {
  	width: 30%;
  	margin-bottom: 20px;
  }

  .second_section .introduction_part2 .storytelling,
  .second_section .introduction_part2 .design-craft,
  {
  	width: 29%;
	margin-right: 25px;
  	margin-bottom: 20px;
  } 
}



@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .second_section .entry_text p {
	padding: 0 180px;
	font-size: 36px;
	color: #9B114C;
	font-style: italic;
  }
  .second_section .introduction_part1 .intro_text .text_one
  {
  	width: 45%;
  	display: inline-block;
  	float: left;
  	padding: 0;
  }
  .second_section .introduction_part1 .intro_text .text_two
  {
  	width: 45%;
  	display: inline-block;
  	float: right;
  	padding: 0;
  }

  .second_section .introduction_part2 .technology
  {
  	margin: 0 0 0 7px;
  	padding: 0;
  }

  .second_section .introduction_part2 .storytelling,
  .second_section .introduction_part2 .design-craft,
  {
  	padding: 0;
	margin-right: 25px;
  }

  .second_section .introduction_part2 .storytelling,
  .second_section .introduction_part2 .design-craft,
  {
  	width: 30%;
	padding: 0;
	margin-right: 20px;
  	margin-bottom: 20px;
  }

}




